
.font-size-13px {
  font-size: 13px;
}
.font-size-20px {
  font-size: 16px;
}

.col-md-2,
.col-sm-4,
.col-6 {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.offer img:hover{
transform: scale(1.01);
transition: 300ms;
}
.col-md-2:hover,
.col-sm-4:hover,
.col-6:hover {
  transform: scale(1.04);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 2px 5px rgba(0, 0, 0, 0.19);
  border-radius: 20px;
}

/* Ensure the component adapts well on different screen sizes */
@media (max-width: 1199px) {
  .col-lg-2 {
    width: 16.66666667%;
    flex: 0 0 16.66666667%;
  }
}

@media (max-width: 991px) {
  .col-md-3 {
    width: 25%;
    flex: 0 0 25%;
  }
}

@media (max-width: 767px) {
  .col-sm-4 {
    width: 33.33333333%;
    flex: 0 0 33.33333333%;
  }
}

@media (max-width: 575px) {
  .col-6 {
    width: 50%;
    flex: 0 0 50%;
  }
}

