
<!-- ----------------------------------------------------------------------- -->
<!--                                Top picks                                -->
<!-- ----------------------------------------------------------------------- -->

<div class="top-picks w-100 h-auto bg-white rounded-2 p-2 mt-3  shadow-sm">
  <h3 class="fw-normal m-2 ">Top Picks</h3>
  <div class="row">
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 p-4">
      <div class="pic">
        <img src="../../assets/photos/furniture/1.jpg"
          class="w-100 border rounded-3" alt>
      </div>
      <p class="fw-normal">Great white beruer Device to detect pulse </p>
      <h6>USD 16.99$</h6>
      <p class="text-decoration-line-through text-muted font-size-13px ">USD
        31.99$</p>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 p-4">
      <div class="pic">
        <img src="../../assets/photos/furniture/2.jpg"
          class="w-100 border rounded-3" alt>
      </div>
      <p class="fw-normal">Great white beruer Device to detect pulse </p>
      <h6>USD 20.45$</h6>
      <p class="text-decoration-line-through text-muted font-size-13px ">USD
        35.50$</p>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 p-4">
      <div class="pic">
        <img src="../../assets/photos/furniture/3.jpg"
          class="w-100 border rounded-3" alt>
      </div>
      <p class="fw-normal">Great white beruer Device to detect pulse </p>
      <h6>USD 12.99$</h6>
      <p class="text-decoration-line-through text-muted font-size-13px ">USD
        25.10$</p>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 p-4">
      <div class="pic">
        <img src="../../assets/photos/furniture/4.jpeg"
          class="w-100 border rounded-3" alt>
      </div>
      <p class="fw-normal">Great white beruer Device to detect pulse </p>
      <h6>USD 49.99$</h6>
      <p class="text-decoration-line-through text-muted font-size-13px ">USD
        85.99$</p>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 p-4">
      <div class="pic">
        <img src="../../assets/photos/furniture/5.jpeg"
          class="w-100 border rounded-3" alt>
      </div>
      <p class="fw-normal">Great white beruer Device to detect pulse </p>
      <h6>USD 11.99$</h6>
      <p class="text-decoration-line-through text-muted font-size-13px ">USD
        25.99$</p>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 p-4">
      <div class="pic">
        <img src="../../assets/photos/furniture/6.jpeg"
          class="w-100 border rounded-3" alt>
      </div>
      <p class="fw-normal">Great white beruer Device to detect pulse </p>
      <h6>USD 80.10$</h6>
      <p class="text-decoration-line-through text-muted font-size-13px ">USD
        114.99$</p>
    </div>
  </div>
</div>


<!-- ----------------------------------------------------------------------- -->
<!--                                   end                                   -->
<!-- ----------------------------------------------------------------------- -->

<!-- ----------------------------------------------------------------------- -->
<!--                                  offer                                  -->
<!-- ----------------------------------------------------------------------- -->

<div class="offer bg-white p-3 mt-3 w-100  rounded">
  <img src="../../assets/photos/offer.png" class="w-100 rounded" alt="">
</div>

<!-- ----------------------------------------------------------------------- -->
<!--                                   end                                   -->
<!-- ----------------------------------------------------------------------- -->

<!-- ----------------------------------------------------------------------- -->
<!--                                category                                 -->
<!-- ----------------------------------------------------------------------- -->


<div class="top-picks w-100 h-auto bg-white rounded-2 p-2 mt-3  shadow-sm">
  <h4 class="fw-normal m-2 ">Home & Furnitures <span class="text-muted fs-6"> (45 items found)</span></h4>
  <div class="row">
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 p-4">
      <div class="pic">
        <img src="../../assets/photos/furniture/1.jpg"
          class="w-100 border rounded-3" alt>
      </div>
      <p class="fw-normal">Great white beruer Device to detect pulse </p>
      <h6>USD 16.99$</h6>
      <p class="text-decoration-line-through text-muted font-size-13px ">USD
        31.99$</p>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 p-4">
      <div class="pic">
        <img src="../../assets/photos/furniture/2.jpg"
          class="w-100 border rounded-3" alt>
      </div>
      <p class="fw-normal">Great white beruer Device to detect pulse </p>
      <h6>USD 20.45$</h6>
      <p class="text-decoration-line-through text-muted font-size-13px ">USD
        35.50$</p>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 p-4">
      <div class="pic">
        <img src="../../assets/photos/furniture/3.jpg"
          class="w-100 border rounded-3" alt>
      </div>
      <p class="fw-normal">Great white beruer Device to detect pulse </p>
      <h6>USD 12.99$</h6>
      <p class="text-decoration-line-through text-muted font-size-13px ">USD
        25.10$</p>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 p-4">
      <div class="pic">
        <img src="../../assets/photos/furniture/4.jpeg"
          class="w-100 border rounded-3" alt>
      </div>
      <p class="fw-normal">Great white beruer Device to detect pulse </p>
      <h6>USD 49.99$</h6>
      <p class="text-decoration-line-through text-muted font-size-13px ">USD
        85.99$</p>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 p-4">
      <div class="pic">
        <img src="../../assets/photos/furniture/5.jpeg"
          class="w-100 border rounded-3" alt>
      </div>
      <p class="fw-normal">Great white beruer Device to detect pulse </p>
      <h6>USD 11.99$</h6>
      <p class="text-decoration-line-through text-muted font-size-13px ">USD
        25.99$</p>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 p-4">
      <div class="pic">
        <img src="../../assets/photos/furniture/6.jpeg"
          class="w-100 border rounded-3" alt>
      </div>
      <p class="fw-normal">Great white beruer Device to detect pulse </p>
      <h6>USD 80.10$</h6>
      <p class="text-decoration-line-through text-muted font-size-13px ">USD
        114.99$</p>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 p-4">
      <div class="pic">
        <img src="../../assets/photos/furniture/1.jpg"
          class="w-100 border rounded-3" alt>
      </div>
      <p class="fw-normal">Great white beruer Device to detect pulse </p>
      <h6>USD 16.99$</h6>
      <p class="text-decoration-line-through text-muted font-size-13px ">USD
        31.99$</p>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 p-4">
      <div class="pic">
        <img src="../../assets/photos/furniture/2.jpg"
          class="w-100 border rounded-3" alt>
      </div>
      <p class="fw-normal">Great white beruer Device to detect pulse </p>
      <h6>USD 20.45$</h6>
      <p class="text-decoration-line-through text-muted font-size-13px ">USD
        35.50$</p>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 p-4">
      <div class="pic">
        <img src="../../assets/photos/furniture/3.jpg"
          class="w-100 border rounded-3" alt>
      </div>
      <p class="fw-normal">Great white beruer Device to detect pulse </p>
      <h6>USD 12.99$</h6>
      <p class="text-decoration-line-through text-muted font-size-13px ">USD
        25.10$</p>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 p-4">
      <div class="pic">
        <img src="../../assets/photos/furniture/4.jpeg"
          class="w-100 border rounded-3" alt>
      </div>
      <p class="fw-normal">Great white beruer Device to detect pulse </p>
      <h6>USD 49.99$</h6>
      <p class="text-decoration-line-through text-muted font-size-13px ">USD
        85.99$</p>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 p-4">
      <div class="pic">
        <img src="../../assets/photos/furniture/5.jpeg"
          class="w-100 border rounded-3" alt>
      </div>
      <p class="fw-normal">Great white beruer Device to detect pulse </p>
      <h6>USD 11.99$</h6>
      <p class="text-decoration-line-through text-muted font-size-13px ">USD
        25.99$</p>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 p-4">
      <div class="pic">
        <img src="../../assets/photos/furniture/6.jpeg"
          class="w-100 border rounded-3" alt>
      </div>
      <p class="fw-normal">Great white beruer Device to detect pulse </p>
      <h6>USD 80.10$</h6>
      <p class="text-decoration-line-through text-muted font-size-13px ">USD
        114.99$</p>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 p-4">
      <div class="pic">
        <img src="../../assets/photos/furniture/1.jpg"
          class="w-100 border rounded-3" alt>
      </div>
      <p class="fw-normal">Great white beruer Device to detect pulse </p>
      <h6>USD 16.99$</h6>
      <p class="text-decoration-line-through text-muted font-size-13px ">USD
        31.99$</p>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 p-4">
      <div class="pic">
        <img src="../../assets/photos/furniture/2.jpg"
          class="w-100 border rounded-3" alt>
      </div>
      <p class="fw-normal">Great white beruer Device to detect pulse </p>
      <h6>USD 20.45$</h6>
      <p class="text-decoration-line-through text-muted font-size-13px ">USD
        35.50$</p>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 p-4">
      <div class="pic">
        <img src="../../assets/photos/furniture/3.jpg"
          class="w-100 border rounded-3" alt>
      </div>
      <p class="fw-normal">Great white beruer Device to detect pulse </p>
      <h6>USD 12.99$</h6>
      <p class="text-decoration-line-through text-muted font-size-13px ">USD
        25.10$</p>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 p-4">
      <div class="pic">
        <img src="../../assets/photos/furniture/4.jpeg"
          class="w-100 border rounded-3" alt>
      </div>
      <p class="fw-normal">Great white beruer Device to detect pulse </p>
      <h6>USD 49.99$</h6>
      <p class="text-decoration-line-through text-muted font-size-13px ">USD
        85.99$</p>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 p-4">
      <div class="pic">
        <img src="../../assets/photos/furniture/5.jpeg"
          class="w-100 border rounded-3" alt>
      </div>
      <p class="fw-normal">Great white beruer Device to detect pulse </p>
      <h6>USD 11.99$</h6>
      <p class="text-decoration-line-through text-muted font-size-13px ">USD
        25.99$</p>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 p-4">
      <div class="pic">
        <img src="../../assets/photos/furniture/6.jpeg"
          class="w-100 border rounded-3" alt>
      </div>
      <p class="fw-normal">Great white beruer Device to detect pulse </p>
      <h6>USD 80.10$</h6>
      <p class="text-decoration-line-through text-muted font-size-13px ">USD
        114.99$</p>
    </div>
  </div>
</div>



<!-- ----------------------------------------------------------------------- -->
<!--                                   end                                   -->
<!-- ----------------------------------------------------------------------- -->
