<nav class="navbar navbar-expand-sm navbar-light bg-white d-flex shadow-sm">

  <a class="navbar-brand mrgn me-5"  href><img
      src="../../assets/photos/download.jpeg"
      alt > <span class="ff">King Tut</span></a>
  <div class="items d-flex">
    <a class="nav-item nav-link active  ms-2 me-4" routerLink> <span> <i
          class="fa-solid fa-house "></i></span> Home</a>
    <a class="nav-item nav-link active me-4" routerLink="/about"> <span> <i
          class="fa-solid fa-address-card "></i></span> About</a>
    <a class="nav-item nav-link active me-4 " routerLink="/contacts"> <span> <i
          class="fa-solid fa-phone "></i></span> Contact</a>
  </div>

</nav>
