<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex shadow-sm">

  <a class="navbar-brand mrgn " href><img
      src="../../assets/photos/download.jpeg"
      alt> King Tut</a>
  <a class="nav-item nav-link active ms-2 me-4" routerLink="/home"> <span> <i
        class="fa-solid fa-house "></i></span> Home</a>
  <a class="nav-item nav-link active me-4" routerLink="/about"> <span> <i
        class="fa-solid fa-address-card "></i></span> About</a>
  <a class="nav-item nav-link active me-4" routerLink="/home"> <span> <i
        class="fa-solid fa-phone "></i></span> Contact</a>

</nav>
