a:hover {
  color: red;
  scale: 1.02;
  transition: 200ms;
}


.mrgn {
  margin-left: 15%;
  width: 200px;
}

.ff {
  font-weight: 700;
}

a img {
  width: 25%;
}

.navbar {
  flex-wrap: nowrap;
}

.items {
  flex-wrap: nowrap;
}

.nav-item {
  white-space: nowrap;
}

@media (max-width: 768px) {
  .mrgn {
    margin-left: 5%;
    width: auto;
  }

  a img {
    width: 50px;
  }

  .nav-item {
    margin-left: 0 !important;
    margin-right: 10px !important;
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .ff {
    font-size: 1rem;
  }

  a img {
    width: 40px;
  }

  .nav-item {
    padding: 10px 5px;
    font-size: 12px;
  }
}
